# Editor files
##############
.vscode/
.ipynb_checkpoints

# OS files
##########
.DS_Store

# Python files
##############
# setup.py working directory
build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# Caches
__pycache__
# Virtual Environment
.env
.venv
env
venv
kwx-dev

# Display files
###############
*_preview.png
*.sketch

# Testing files
###############
examples/data/
.coverage
_*.ipynb
