# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py==0.11.0
appdirs==1.4.4
astor==0.8.1
attrs==20.3.0
black==19.10b0
blis==0.4.1
boto==2.49.0
boto3==1.9.66
botocore==1.12.67
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.3.1
cycler==0.10.0
cymem==2.0.4
docutils==0.16
emoji==1.2.0
filelock==3.0.12
funcy==1.15
future==0.18.2
gast==0.4.0
gensim==3.8.0
googletrans==3.0.0
grpcio==1.31.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.0
jsonschema==3.0.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.6.0
murmurhash==1.0.5
mypy-extensions==0.4.3
nltk==3.5
numexpr==2.7.2
numpy==1.19.2
olefile==0.46
packaging==20.9
pandas==1.2.1
pathspec==0.7.0
Pillow==8.1.0
pip==20.3.3
plac==1.1.0
pluggy==0.13.1
preshed==3.0.2
protobuf==3.14.0
py==1.10.0
pycparser==2.20
pyLDAvis==2.1.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
rfc3986==1.4.0
s3transfer==0.1.13
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.1
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
setuptools==52.0.0.post20210125
six==1.15.0
smart-open==1.8.0
sniffio==1.2.0
spacy==2.3.5
srsly==1.0.5
stopwordsiso==0.6.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.1
torch==1.7.1
tornado==6.1
tqdm==4.56.0
transformers==4.2.2
twine==3.3.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.24.3
wasabi==0.8.2
Werkzeug==1.0.1
wheel==0.36.2
wordcloud==1.8.1
wrapt==1.12.1
xlrd==2.0.1
zipp==3.4.0
