name: python_package_ci
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - "src/**"
      - "tests/**"
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/**"

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        python-version: [3.11]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
      - name: Clone Repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}

      - name: Add Conda to System Path
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          eval "$(conda shell.bash hook)"
          conda env create --file environment.yml

      - name: Test and Generate Coverage
        run: |
          eval "$(conda shell.bash hook)"
          conda activate kwx-dev
          export PYTHONPATH="./src"
          pytest --cov=src tests --cov-report=xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
